<h2>Eventos</h2>

<hr>

<div class="row row-cols-lg-auto g-3 align-items-center" action="">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="buscar" [(ngModel)] = "filtroLista" />
    </div>
  </div>

</div>
 <h3> {{filtroLista}}</h3>
<hr>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Imagem</th>
      <th class="text-center" scope="col">Tema</th>
      <th class="text-center" scope="col">Local</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Qtd Pessoas</th>
      <th class="text-center" scope="col">Lote</th>
      <th class="text-center" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf = "eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <th class="text-center" scope="row">{{evento.eventoId}}</th>
      <td class = "img">
          <img src="/assets/{{evento.imagemURL}}">
      </td>
      <td class="text-center">{{evento.tema}}</td>
      <td class="text-center">{{evento.local}}</td>
      <td class="text-center">{{evento.dataEvento}}</td>
      <td class="text-center">{{evento.qtdPessoas}}</td>
      <td class="text-center">{{evento.lote}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-primary btn-lg mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-lg">Excluir</button>

      </td>
    </tr>
  </tbody>
</table>


<!--
<div *ngFor="let evento of eventos">
    <p><b>Local:</b>{{evento.local}} </p>
    <p><b>DataEvento:</b>{{evento.dataEvento}} </p>
    <p><b>Tema:</b>{{evento.tema}} </p>
    <p><b>Quantidade:</b>{{evento.qtdPessoas}} </p>
    <p><b>Lote: </b>{{evento.lote}}</p>
    <p><b>Imagem: </b>{{evento.imagemURL}}</p>
    <hr>
</div>
-->

